<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/420.css') }}" />
</head>
<body>
    <div class="my-container">
        <h1>Cannabis Survey</h1>
        <div>
            <h2><P>Please take the time to fill out the form to record your answers the process is anonymous.
            The survey collects all the data to build various charts on such topics: legalization, consumption,
            age demographics, strain types. Once you push the submit button you will be taken to the results page.</p></h2>
        </div>
        <div class="container">
            <h3>Help us acquire statistics on Cannabis throughout the United States</h3>
            <h4>Currently tracking U.S. residents only</h4>
            <form action="{{url_for('results')}}" method="POST">
                <div class="form-control">
                    <ul>
                        <li>
                            <label for="legalization"> Should Cannabis be legalized:</label>
                            <select name="legalization">
                                <option value="No">No</option>
                                <option value="Med">Medical Only</option>
                                <option value="Full">Full Legalization</option>
                            </select>
                        </li>
                        <li>
                            <label for="consume">Do you consume Cannabis:</label>
                            <select name="consume" id="consume">
                                <option value="No">No</option>
                                <option value="Yes">Yes</option>
                            </select>
                        </li>
                        <li id="mode">
                            <label for="mode">Favored method of consumption:</label>
                            <select name="mode">
                                <option value="Smoke">Smoke</option>
                                <option value="Vape">Vape</option>
                                <option value="Dabbing">Dabbing</option>
                                <option value="Edible">Edible</option>
                                <option value="Topical">Topical</option>
                                <option value="Ingestible Oil">Ingestible Oils</option>
                                <option value="Tinctures">Tinctures</option>
                            </select>
                        </li>
                        <li id="type">
                            <label for="strain">Preferred strain type:</label>
                            <select name="strain">
                                <option value="Sativa">Sativa</option>
                                <option value="Indica">Indica</option>
                                <option value="Hybrid">Hybrid</option>
                            </select>
                        </li>
                        <li>
                            <label for="age">Select your age group:</label>
                            <select name="age">
                                <option value="17">17 or younger</option>
                                <option value="18-24">18-24</option>
                                <option value="25-34">25-34</option>
                                <option value="35-44">35-44</option>
                                <option value="45-54">45-54</option>
                                <option value="55-64">55-64</option>
                                <option value="65">65 or older</option>
                            </select>
                        </li>
                        <li>
                            {% with messages = get_flashed_messages() %}
                        	  {% if messages %}
                        	    {% for message in messages %}
                        		  <div class="alert alert-danger alert-dismissible" role="alert">
                        		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        			{{message}}
                        		  </div>
                        		{% endfor %}
                        	  {% endif %}
                        	{% endwith %}
                            <label for="city">City:</label>
                            <input type="text" name="city" required>
                        </li>
                        <li>
                            <label for="state">State:</label>
                            <select name="state">
                            	<option value="Alabama">Alabama</option>
                            	<option value="Alaska">Alaska</option>
                            	<option value="Arizona">Arizona</option>
                            	<option value="Arkansas">Arkansas</option>
                            	<option value="California">California</option>
                            	<option value="Colorado">Colorado</option>
                            	<option value="Connecticut">Connecticut</option>
                            	<option value="Delaware">Delaware</option>
                            	<option value="District of Columbia">District Of Columbia</option>
                            	<option value="Florida">Florida</option>
                            	<option value="Georgia">Georgia</option>
                            	<option value="Hawaii">Hawaii</option>
                            	<option value="Idaho">Idaho</option>
                            	<option value="Illinois">Illinois</option>
                            	<option value="Indiana">Indiana</option>
                            	<option value="Iowa">Iowa</option>
                            	<option value="Kansas">Kansas</option>
                            	<option value="Kentucky">Kentucky</option>
                            	<option value="Louisiana">Louisiana</option>
                            	<option value="Maine">Maine</option>
                            	<option value="Maryland">Maryland</option>
                            	<option value="Massachusetts">Massachusetts</option>
                            	<option value="Michigan">Michigan</option>
                            	<option value="Minnesota">Minnesota</option>
                            	<option value="Mississippi">Mississippi</option>
                            	<option value="Missouri">Missouri</option>
                            	<option value="Montana">Montana</option>
                            	<option value="Nebraska">Nebraska</option>
                            	<option value="Nevada">Nevada</option>
                            	<option value="New Hampshire">New Hampshire</option>
                            	<option value="New Jersey">New Jersey</option>
                            	<option value="New Mexico">New Mexico</option>
                            	<option value="New York">New York</option>
                            	<option value="North Carolina">North Carolina</option>
                            	<option value="North Dakota">North Dakota</option>
                            	<option value="Ohio">Ohio</option>
                            	<option value="Oklahoma">Oklahoma</option>
                            	<option value="Oregon">Oregon</option>
                            	<option value="Pennsylvania">Pennsylvania</option>
                            	<option value="Rhode Island">Rhode Island</option>
                            	<option value="South Carolina">South Carolina</option>
                            	<option value="South Dakota">South Dakota</option>
                            	<option value="Tennessee">Tennessee</option>
                            	<option value="Texas">Texas</option>
                            	<option value="Utah">Utah</option>
                            	<option value="Vermont">Vermont</option>
                            	<option value="Virginia">Virginia</option>
                            	<option value="Washington">Washington</option>
                            	<option value="West Virginia">West Virginia</option>
                            	<option value="Wisconsin">Wisconsin</option>
                            	<option value="Wyoming">Wyoming</option>
                            </select>
                        </li>
                        <li>
                            <button class="submit" type="submit">Submit</button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#consume').on('change', function() {
              if ( this.value == 'Yes')

              {
                $("#mode").show();
                $("#type").show();
              }
              else
              {
                $("#mode").hide();
                $("#type").hide();
              }
            });
        });
    </script>
</body>
</html>
