<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/results.css') }}" />
</head>
<body>
    <h1>Cannabis Survey Results:</h1>
    <div class="container">
        <object height="400" type="image/svg+xml" data="{{url_for('static', filename='legalization_chart.svg') }}">
            Your browser does not support SVG
        </object>
        <object height="400" type="image/svg+xml" data="{{url_for('static', filename='age_demo_chart.svg') }}">
            Your browser does not support SVG
        </object>
        <object height="400" type="image/svg+xml" data="{{url_for('static', filename='consumer_vs_non_chart.svg') }}">
            Your browser does not support SVG
        </object>
    </div>
    <div class="container">
        <object height="400" type="image/svg+xml" data="{{url_for('static', filename='consumer_strain_chart.svg') }}">
            Your browser does not support SVG
        </object>
        <object height="400" type="image/svg+xml" data="{{url_for('static', filename='consumer_age_chart.svg') }}">
            Your browser does not support SVG
        </object>
        <object height="400" type="image/svg+xml" data="{{url_for('static', filename='consumer_mode_chart.svg') }}">
            Your browser does not support SVG
        </object>
    </div>
</body>
</html>
