
body {
    background-image: url("/static/images/mj.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position:center center;
}
.my-container h1 {
    text-align: center;
    font-size: 3em;
    position: relative;
    z-index: 2;
    color: white;
}
.my-container h2 {
    text-align: center;
    position: relative;
    font-size: 2em;
    z-index: 3;
}
.container {
    left: 24%;
    opacity: 0.8;
    background-color: #5E7E30;
    width: 50%;
    height: 0 auto;
    text-align: center;
    position: absolute;
    z-index: 4;
    color: white;
}
.form-control ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 0px;
    padding: 0px;
}
.form-control li{
    padding: 5px;
    position: relative;
}
.form-control label {
    width: 250px;
    margin-top: 2px;
    display: inline-block;
    padding: 3px;
}
.form-control select {
    height: 30px;
    width: 160px;
    padding: 5px 8px;
}
.form-control input {
    height: 25px;
    width: 140px;
    padding: 5px 8px;

}
.form-control select, .form-control input {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.form-control select:focus, .form-control input:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}
button.submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 16px 42px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer;
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;

}
*:focus {
    outline: none;
}
#mode {
    display: none;
}
#type {
    display: none;
}
