
body {
    background-image: url("/static/images/mj.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position:center center;
}
h1 {
    text-align: center;
    font-size: 3em;
    position: relative;
    z-index: 2;
    color: white;
}
.container {
    opacity: 0.9;
    width: 100%;
    height: 0 auto;
    text-align: center;
    position: relative;
    z-index: 4;
    color: white;
}
